#INFOFILE1.1 - Do not remove this line!
FileIdent = IPGMovie-Camera 7
FileCreator = IPGMovie 11.0 2022-3-29

Camera.0.Name = kkk
Camera.0.Mode = MoveWithCar
Camera.0.AttachedTo = Egocar
Camera.0.Type = 0
Camera.0.Lens = direct
Camera.0.FlipMode = n
Camera.0.SrcHDR16 = 0
Camera.0.Pos = 2.300 0.0 1.0
Camera.0.dist = 0.012
Camera.0.rot = 0.0 -1.632 0.057
Camera.0.FieldOfView = 50.0
Camera.0.Export = rgb
Camera.0.Sensitivity = {0.0 1.0 0.0} {1.0 0.0 0.0}  {0.0 0.0 1.0} {0.0 1.0 0.0}
Camera.0.YUVSettings = 0 1 1 8
Camera.0.Scale = 1.0
Camera.0.Offset = 0.0 0.0
Camera.0.Distortion = 1.0 0.0 0.0 0.0  0.0 0.0 0.0 0.0 0.0
Camera.0.Distortion.Div = 0.0 0.0 0.0  0.0 0.0 0.0 0.0  0.0 0.0
Camera.0.Dist.Opts = 1.0 1
Camera.0.Decay = 0.0 0.0 0.0 0.0 0.0
Camera.0.LightedOcclusion =
Camera.0.StaticOcclusion =
Camera.0.SensorNoise = 0.0
Camera.0.LineReadoutTime = 0.0294
Camera.0.ExposureTime = 1.5
Camera.0.DistortionSrc = polynom
Camera.0.DistortionFile =
Camera.0.ToneMappingFile =
